<div class="container">
    <div class="card mt-5 bg-dark shadow">
      <div class="card-body">
        <h4 class="card-title text-light">Hello World!</h4>
        <h6 class="card-subtitle text-muted">Templode</h6>
      </div>
      <div class="card-body">
        <p class="card-text text-light">It works!</p>
        <p class="card-text text-light">Visit my <a href="https://noel-s.ch">website</a> to never miss a project!</p>
      </div>
    </div>
</div>