<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Templode</title>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
<meta name="description" content="Description">
<meta name="keywords" content="Keywords">
<meta name="author" content="Author">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="image_src" href="images/preview.jpg">
<meta property="og:image" content="images/preview.jpg">