<div class="container">
    <div class="card mt-5 bg-dark shadow">
      <div class="card-body">
        <h4 class="card-title text-danger"><b>404</b></h4>
        <h6 class="card-subtitle text-muted"><b>Not Found</b></h6>
      </div>
      <div class="card-body">
        <p class="card-text text-light">The site you're looking for doesn't exist!</p>
        <a class="btn btn-danger" href="/" role="button">Go back</a>
      </div>
    </div>
</div>